html,
body {
  min-height: 100vh;
  display: block;
  position: relative;
  background-color: #fefefe;
}

nav {
  overflow: unset;
}

.d-flex {
  display: flex;
}

.pt-30 {
  padding-top: 30px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

[class*="icon-"] {
  margin-right: 5px;
}

.icon-alt {
  transform: rotate(90deg);
}

a:hover,
a:focus,
.btn:hover,
.btn:focus {
  color: var(--secondary-color);
  box-shadow: none;
}

.button-primary {
  display: inline-block;
  background-color: #192f59;
  padding: 14px 20px;
}

.button-primary:hover a {
  color: white;
  background-color: #192f59;
}

.button-text {
  font-size: 16px;
  color: white;
  font-weight: 700;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
}

.btn-text {
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 700;
}

.btn-text-icon {
  margin-left: 6px;
  font-size: medium;
  color: var(--secondary-color);
}

.br-bottom {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--secondary-color);
}

.fw-700 {
  font-weight: 700;
}

.text-note-muted {
  padding-top: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #6c757d !important;
}

/* btn, button */

.btn-secondary {
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  position: relative;
  float: right;
  clear: both;
  font-weight: 700;
}

.btn-secondary::after {
  content: "\27A8";
  margin-left: 2px;
}

.btn-showmore {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-showmore:hover,
.btn-showmore:focus {
  background-color: var(--secondary-color);
  color: #fefefe;
}

.btn-showall {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
}

.btn-showdetail {
  color: var(--secondary-color);
  font-size: 13px;
}

.btn-showall:hover,
.btn-showall:focus,
.btn-showdetail:hover,
.btn-showdetail:focus {
  color: var(--secondary-color);
  text-decoration: underline;
}

/*  */

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
}

.btn-text {
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 700;
}

.btn-text-icon {
  margin-left: 6px;
  font-size: medium;
  color: var(--secondary-color);
}

/*  */

/* btn, button */

.middle-Tab {
  display: none;
}

/** ------------------------------------ **/

/* scrollbar */

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* scrollbar */

/** ------------------------------------ **/
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 4px 0px rgba(10, 31, 119, 0.8);
  z-index: 9999;
}

/* Header */

.header {
  position: relative;
  z-index: 10;
  min-height: 1px;
  width: 100%;
  color: #fefefe;
  font-size: 18px;
  box-shadow: 0px 1px 4px 0px rgba(104, 104, 104, 0.8);
  /* left top shadow size color inset */
}

.user-header-top {
  background-color: var(--primary-color);
}

.user-header-top .header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-header-top a {
  color: #fefefe;
  font-size: 18px;
  padding: 6px 12px;
  text-align: left;
}

.user-header-top a::after {
  display: none;
}

.user-header-top a:hover,
.user-header-top a:focus {
  color: var(--secondary-color);
}

.user-header-top .left,
.user-header-top .right {
  display: flex;
  align-items: center;
}

.menu-header {
  background-color: #fefefe;
}

/* .div-email,
.div-phone {
	margin: 0 5px;
} */

.language .dropdown .dropdown-menu {
  height: 0;
  transition: height 0.5s ease;
  padding: 0;
  min-width: 150px;
  left: -20%;
}

.language .dropdown:hover .dropdown-menu {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  /* background-color: #e0e0e0; */
}

.language .dropdown .dropdown-menu a:hover {
  background-color: transparent;
  scale: 1.1;
}

.header-logo {
  height: 56px;
  /* max-width: 500px; */
  display: flex;
  align-items: center;
}

.header-logo-img {
  height: 100%;
}

.header-logo img {
  height: 100%;
}

.header .btn-search {
  color: var(--primary-color);
  background-color: transparent;
  border: none;
}

.header .btn-search:hover {
  color: var(--secondary-color);
  scale: 1.1;
}

.header .btn-search [class*="icon-"] {
  font-size: 24px;
  margin: 5px;
}

.menu-header .navbar-toggler {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.menu-header a {
  color: var(--primary-color);
}

.menu-header .nav-item > a {
  border-bottom: 2px solid transparent;
}

.menu-header .nav-item:hover > a,
.menu-header .nav-item:focus > a {
  color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
}

.menu-header .navbar-collapse {
  justify-content: space-evenly;
}

.menu-header .dropdown-item:hover {
  color: var(--secondary-color);
  background-color: transparent;
}

/*  */

/* Header */

/* Footer */

.footer {
  position: relative;
  width: 100%;
  min-height: 1px;
  margin-top: 30px;
  padding: 50px 0 30px;
  color: #fefefe;
  background-color: var(--primary-color);
  transition: all 0.5s ease-in-out;
}

.footer a {
  color: #fefefe;
  font-size: 16px;
}

.footer ul {
  padding-left: 0;
  margin-bottom: 0;
}

.footer ul li {
  padding: 10px 0;
}

.footer-phone {
  padding: 15px 0;
}

.footer-title {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* Footer */

/* style */

.title-style-1 {
  color: var(--primary-color);
  text-align: left;
}

.title-style-1 h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

/* style */

.block-title-top {
  margin-bottom: 20px;
}

/* --------------------------------- */

.card-style-1 {
  height: 450px;
  min-width: 0;
  margin: 0;
  position: relative;
  word-wrap: break-word;
  background-color: #fefefe;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.card-style-1 .card-img {
  /* width: 450px; */
  height: 450px;
  /* height: 100%; */
}

.card-style-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-style-1 .card-left,
.card-style-1 .card-right {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.card-style-1 .card-right {
  padding: 30px;
}

.card-style-1 .card-detail {
  width: 100%;
  height: 100%;
  display: flex;
}

.card-style-1 .card-detail-inner {
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* Banner */

.banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 340px);
  min-height: 500px;
}

.banner-img {
  position: relative;
  width: 100%;
  height: calc(100vh - 340px);
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(10, 31, 119, 0.7) 0%,
    rgba(10, 31, 119, 0.288) 100%
  );
}

.banner-detail {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 15%;
  transform: translate(0, -50%);
  text-transform: uppercase;
  color: #fefefe;
}

.banner-detail h1 {
  font-weight: 700;
  font-size: 70px;
}

/* Banner */

/* partner */

.partner-img {
  width: 200px;
  height: auto;
}

.partner-detail {
  margin: 30px 0 10px;
}

/* partner */

/* div-search */

.div-search {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 99999;
}

.div-search.show {
  width: 100vw;
  height: 100vh;
  background-color: rgb(114, 114, 114, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: inherit;
}

.div-search.show .div-search-container {
  width: 50%;
}

.div-search .form-search {
  position: relative;
}

.div-search .form-search .btn-search,
.div-search .form-search .btn-close {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  color: #fefefe;
  font-size: 30px;
  width: 40px;
  height: 40px;
  padding: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-search .form-search .btn-search {
  right: 40px;
}

.div-search .form-search [class*="icon-"] {
  margin: 0;
  color: #fefefe;
}

.div-search .form-search input {
  font-size: 20px;
  color: #fefefe;
  background-color: transparent;
  border: none;
  border-radius: none;
  border-bottom: 1px solid #fefefe;
}

.div-search .form-search input:focus,
.div-search .form-search input:active,
.div-search .form-search input:active:focus {
  border: none;
  border-bottom: 1px solid #fefefe;
  box-shadow: none;
}

.div-search .form-search input::placeholder,
.div-search .form-search input::-webkit-input-placeholder,
.div-search .form-search input:-ms-input-placeholder {
  color: #e7e7e7;
}

.div-search .form-search input[type="search"]::-webkit-search-decoration,
.div-search .form-search input[type="search"]::-webkit-search-cancel-button,
.div-search .form-search input[type="search"]::-webkit-search-results-button,
.div-search
  .form-search
  input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* div-search */

/* typical-st Start*/

.typical-st .st-name {
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.typical-st .st-note {
  text-align: justify;
  font-size: 18px;
}

.typical-st .btn-showmore-wrap {
  display: flex;
  align-items: center;
}

.typical-st .btn-showmore {
  display: flex;
  align-items: center;
}

.typical-st .btn-showmore .icon-showmore {
  font-size: 30px;
}

/* typical-st End*/

/* news-events */

.media-image {
  line-height: 0;
  position: relative;
}

.opacity-on-hover {
  background-color: #000;
}

.zoom-on-hover {
  overflow: hidden;
}

.opacity-on-hover img,
.zoom-on-hover img {
  -moz-transition: opacity 300ms ease-out, -moz-transform 300ms ease-out,
    -moz-filter 300ms ease-out;
  -o-transition: opacity 300ms ease-out, -o-transform 300ms ease-out,
    -o-filter 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, -webkit-transform 300ms ease-out,
    -webkit-filter 300ms ease-out;
  transition: opacity 300ms ease-out, transform 300ms ease-out,
    filter 300ms ease-out;
}

.zoom-on-hover:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.opacity-on-hover:hover img {
  opacity: 0.5;
}

.news-events-list {
  padding: 0;
}

.news-events-item a {
  background-color: var(--primary-color);
}

.news-events-item a:hover,
.news-events-item a:focus {
  background-color: transparent;
}

.news-events-item a.card-link-text:hover,
.news-events-item a.card-link-text:focus {
  background-color: var(--secondary-color);
}

.card-new-style-1 .card-time {
  font-weight: 400;
  border: none;
}

/* news-events */

/* notification */

.notification-list {
  padding: 0;
}

.notification-item:nth-child(odd) {
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #6b6b6b;
}

.card-notification-inner {
  align-items: center;
}

.card-notification-1 {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

.card-notification-1 .card-link-text {
  color: #6b6b6b;
}

.card-notification-1 .card-link-text:hover,
.card-notification-1 .card-link-text:focus {
  color: var(--secondary-color);
}

.card-notification-1 .btn-showdetail {
  color: var(--secondary-color);
}

.card-notification-1 .card-img {
  height: 100px;
}

.event-item-info.type-start-date-month {
  display: block;
  float: left;
  width: 60px;
  text-align: center;
  white-space: nowrap;
  margin-right: 25px;
  padding-bottom: 0px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: var(--secondary-color);
  cursor: pointer;
}

.type-start-date-month .date {
  font-size: 34px;
  line-height: 1;
  font-weight: 700;
  display: block;
  color: var(--secondary-color);
}

.type-start-date-month .month {
  font-size: 16px;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
}

/* notification */

/* services */
.services {
  position: relative;
  z-index: 9;
}

.services .tab-services {
  margin-top: -50px;
  background-color: #fefefe;
  flex-wrap: nowrap;
}

.tab-services {
  justify-content: space-around;
  box-shadow: 0px 4px 4px -4px rgba(90, 90, 90, 0.8);
}
.tab-services .nav-link {
  color: var(--blue-gray);
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  padding: 40px 20px;
}

.tab-services.nav-pills .nav-link.active,
.tab-services.nav-pills .show > .nav-link {
  color: var(--primary-color);
  background-color: transparent;
}

.tab-services .nav-link .icon-img {
  margin-right: 20px;
}

/* services */

/* Section Start: Introduce and Admission */

.section-container {
  margin: 0;
  display: flex;
}

.section-container-content {
  padding-top: 52px;
  padding-bottom: 52px;
}

.section-container-content.left {
  padding-left: 72px;
  padding-right: 60px;
}

.section-container-content.right {
  padding-left: 72px;
  padding-right: 72px;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.section-icon {
  width: 44px;
  height: 44px;
}

.section-title {
  font-size: 30px;
  font-weight: 600;
  margin-left: 16px;
}

.section-paraph {
  font-size: 17px;
  color: var(--text-gray-color);
}

.section-container-image {
  padding: 0;
}

.section-image {
  width: 100%;
}

/* Section End */

/* Header Sidebar Start */

/* Header Sidebar End */

/* Breadcrumbs Solid Start */

/* Introduce Start */

.breadcrumbs-container {
  padding-top: 40px;
}

.breadcrumbs-inner {
  display: flex;
  flex-direction: row;
}

.breadcrumbs-inner li a {
  font-size: 14px;
  color: var(--text-breadcrumbs);
}

.breadcrumbs-inner li i {
  margin-right: 16px;
  margin-left: 14px;
  color: var(--text-breadcrumbs);
  font-size: small;
}

.breadcrumbs-inner .active {
  color: var(--secondary-color);
  font-size: 14px;
}

/* Breadcrumbs Solid End */

/* Breadcrumbs Bold Start */
.breadcrumbs-bold {
  padding: 18px 24px;
  background-color: var(--bg-gray);
  border-bottom: 3px solid var(--secondary-color);
}

.breadcrumbs-bold-inner {
  display: flex;
  flex-direction: row;
}

.breadcrumbs-bold-inner li a {
  font-size: 14px;
  color: var(--text-breadcrumbs);
  font-weight: 700;
  line-height: 1.7;
}

.breadcrumbs-bold-inner li i {
  margin-right: 16px;
  margin-left: 14px;
  color: var(--text-breadcrumbs);
  font-size: small;
}

.breadcrumbs-bold-inner .active {
  color: var(--secondary-color);
  font-size: 14px;
}

/* Breadcrumbs Bold End */

/* Introduce Start */
.devel-history-inner {
  padding-top: 40px;
}

.devel-history-title {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 29px;
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: var(--secondary-color) 4px solid;
}

.devel-history-text {
  font-size: 16px;
  line-height: 1.7;
  color: var(--text-gray-color);
}

.philosophy {
  background-image: url(../../../../../default/files/image/bg-gioi-thieu.jpg);
  background-size: cover;
  background-position: center center;
}

.philosophy-inner {
  margin-top: 64px;
  --bs-gutter-x: 0;
}

.philosophy-item {
  display: flex;
  flex-direction: column;
  padding: 96px 24px 96px;
}

.philosophy-title {
  font-size: 18px;
  color: white;
  font-weight: 700;
  margin-bottom: 12px;
}

.philosophy-paraph {
  font-size: 16px;
  color: white;
  font-weight: 400;
}

.lecturers {
  background: var(--bg-light-gray);
}

.training {
  background: var(--bg-light-gray);
}

.cooperate {
  background: var(--bg-light-gray);
}

/* Introduce End */

/* Structure Start */
.sidebar {
  background-color: var(--bg-light-gray);
  padding-top: 60px;
  padding-bottom: 30px;
}

.sidebar-container-content {
  padding-right: 16px;
}

.sidebar-content-header {
  background: linear-gradient(180deg, #93333d, #c40227);
}

.sidebar-content-title {
  display: flex;
  padding: 80px 24px 8px;
}

.sidebar-title-left {
  border-right: 1px solid white;
  padding-right: 28px;
  line-height: 1;
}

.sidebar-title-left-day {
  margin-bottom: 8px;
  font-size: 27px;
  font-weight: 700;
  color: white;
  line-height: 1;
}

.sidebar-title-left-month {
  color: #b1b1b1;
  text-transform: uppercase;
  font-size: 14px;
}

.sidebar-title-right {
  padding-left: 28px;
}

.sidebar-title-right-title {
  margin-bottom: 8px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  line-height: 1;
}

.sidebar-title-right-wrapper {
  display: flex;
  color: white;
  margin-top: 12px;
}

.sidebar-title-right-author {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
}

.sidebar-title-right-category::before {
  content: "/";
  margin-left: 12px;
  margin-right: 12px;
}

.sidebar-title-right-ncomment::before {
  content: "/";
  margin-left: 12px;
  margin-right: 12px;
}

.structure-container {
  padding: 52px 24px 32px;
}

.structure-container-heading {
  font-size: 32px;
  margin-bottom: 12px;
}

.structure-item > div > p {
  margin-bottom: 16px;
  font-weight: bold;
  font-style: italic;
}

.structure-item-title {
  font-size: 16px;
  color: var(--text-gray-color);
  margin-top: 24px;
  margin-bottom: 24px;
}

.structure-item-avatar {
  width: 200px;
}

.structure-item-paraph {
  font-size: 16px;
  color: var(--text-gray-color);
}

.sidebar-container-right {
  padding-left: 16px;
}

/* Structure End */

/* Lecturers Start */

.lecturers-container {
  margin-top: 36px;
}

.lecturers-container-left {
  padding-right: 24px;
  margin-bottom: 120px;
}

.lecturers-header {
  background-color: var(--bg-light-gray);
  padding: 32px 12px;
  border-bottom: 5px solid var(--bg-secondary-color);
}

.lecturers-header-title {
  font-size: 36px;
  font-weight: 400;
}

.lecturers-content {
  padding: 32px 0 48px;
}

.lecturers-content-item {
  display: flex;
  margin-bottom: 50px;
  padding: 0 12px;
}

.lecturers-content-avatar img {
  width: 250px;
  height: 250px;
}

.lecturers-content-info {
  flex: 1;
  padding-left: 40px;
}

.lecturers-content-position {
  font-weight: 400;
  font-size: 22px;
  color: var(--secondary-color);
  display: block;
  margin-top: 8px;
}

.lecturers-content-name {
  display: block;
  margin-top: 16px;
  font-weight: 700;
  font-size: 23px;
  color: #545454;
}

.lecturers-content-department {
  display: block;
  margin-top: 4px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-gray-color);
}

.lecturers-content-email {
  display: flex;
  align-items: center;
  margin-top: 24px;
  color: #545454;
}

.lecturers-content-email a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
  color: #545454;
}

.lecturers-content-email a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.lecturers-content-phone {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 24px;
  color: #545454;
}

.lecturers-content-phone span {
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
}

.lecturers-content-research {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-light-black-color);
}

.lecturers-container-search {
  border: 1px solid #dedbd1;
  padding: 18px;
  margin-bottom: 16px;
}

.lecturers-search-title {
  font-weight: 700;
  font-size: 16px;
  color: #666666;
  margin-bottom: 24px;
}

.lecturers-search-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lecturers-search-select {
  flex: 1;
  padding: 12px 12px;
  margin-right: 12px;
  font-size: 13px;
  font-weight: 500;
  border: 1.3px solid #b8bbc2;
  border-radius: 8px;
}

.form-select:focus {
  box-shadow: none;
  border: 1.3px solid #215aff;
}

.lecturers-container-expert {
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #dedbd1;
}

.lecturers-expert-title {
  font-weight: 700;
  font-size: 16px;
  color: #666666;
  margin-bottom: 8px;
}

.lecturers-expert-item:first-child {
  border-width: 1px 1px 1px 1px;
}

.lecturers-expert-item {
  display: flex;
  padding: 12px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-width: 0 1px 1px 1px;
}

.lecturers-expert-avatar img {
  width: 100px;
}

.lecturers-expert-info {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.lecturers-expert-name {
  display: block;
  color: #191919;
  font-weight: 700;
  font-size: 16px;
}

.lecturers-expert-name:hover {
  text-decoration: underline;
}

.lecturers-expert-position {
  font-weight: 400;
  color: #666666;
  font-size: 16px;
  font-style: italic;
  line-height: 1.7;
}

.lecturers-expert-research {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

.sidebar-recent-post {
  padding: 18px;
  margin-bottom: 16px;
  border: 1px solid #dedbd1;
}

.sidebar-recent-post-title {
  background-color: var(--bg-gray);
  padding: 18px 22px;
  margin-bottom: 16px;
  border-bottom: 3px solid var(--secondary-color);
}

.sidebar-recent-post-title h4 {
  font-size: 16px;
  color: #383838;
  font-weight: 600;
}

.sidebar-recent-post-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sidebar-recent-post-item {
  color: #191919;
  margin-right: 4px;
}

.sidebar-recent-post-item:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  transition: 0.3s;
}

.sidebar-faculty-container {
  padding: 18px;
  border: 1px solid #dedbd1;
}

.sidebar-faculty-inner {
  padding: 30px 45px;
  color: white;
  background-color: #1c1b3b;
}

.sidebar-faculty-container h3,
.sidebar-faculty-container h4 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 24px;
}

.sidebar-faculty-container h4 {
  margin-top: 36px;
}

.sidebar-faculty-container span {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.7;
}

.sidebar-faculty-container span:nth-child(3),
.sidebar-faculty-container span:nth-child(5),
.sidebar-faculty-container span:nth-child(6) {
  margin-bottom: 24px;
}

.sidebar-faculty-container span:nth-child(6) {
  font-size: 16px;
}

.sidebar-faculty-social {
  display: flex;
  flex-direction: row;
  margin-bottom: 36px;
}

.sidebar-faculty-social a {
  margin-right: 8px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.sidebar-faculty-social i {
  color: var(--secondary-color);
  font-size: 19px;
}

.sidebar-faculty-btn {
  display: inline-block;
  background-color: var(--secondary-color);
}

.sidebar-faculty-btn a {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 15px;
  padding: 22px 28px;
}

/* Lecturers End */

/* Lecturers Details Start */

.lecturers-container-statistics {
  display: flex;
  border: 1px solid #dedbd1;
  padding: 18px;
  margin-bottom: 16px;
  margin-top: 16px;
  background-color: white;
}

.lecturers-statistics-left {
  padding: 0;
}

.lecturers-statistics-left-name {
  font-weight: 700;
  font-size: 18px;
  padding: 5px 0 10px;
  margin-bottom: 20px;
}

.lecturers-statistics-position {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-gray-color);
  margin-bottom: 16px;
}

.lecturers-statistics-research-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}

.lecturers-statistics-research {
  text-indent: 18px;
  font-size: 14px;
  color: var(--text-gray-color);
  line-height: 1.7;
  padding-bottom: 20px;
}

.lecturers-statistics-quantity {
  display: block;
  font-weight: 600;
  font-size: 22px;
}

.lecturers-statistics-table {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 0;
}

.lecturers-statistics-table th {
  min-width: 120px;
  padding: 14px;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: var(--secondary-color);
  border: 1px solid #e6e6e6;
}

.lecturers-statistics-table td {
  padding: 16px;
  font-size: 16px;
  color: #949494;
  text-align: end;
}

.lecturers-statistics-table td:first-child {
  text-align: start;
}

.lecturers-statistics-right {
  padding: 0;
  display: flex;
  justify-content: end;
}

.lecturers-statistics-container {
  display: inline-block;
  background-color: var(--bg-light-gray);
  padding: 16px 16px 8px;
  height: fit-content;
  border: 1px solid #dedbd1;
}

.lecturers-statistics-avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 24px;
}

.lecturers-statistics-name {
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: var(--text-gray-color);
  margin-bottom: 10px;
}

.lecturers-statistics-degree,
.lecturers-statistics-faculty,
.lecturers-statistics-department,
.lecturers-statistics-email,
.lecturers-statistics-phone {
  font-size: 14px;
  color: var(--text-gray-color);
  margin-bottom: 8px;
}

.lecturers-statistics-email,
.lecturers-statistics-phone {
  display: flex;
  align-items: center;
}

.lecturers-statistics-email a,
.lecturers-statistics-phone span {
  margin-left: 10px;
  color: var(--text-gray-color);
}

.lecturers-statistics-email:hover a {
  color: var(--secondary-color);
  text-decoration: underline;
}

.lecturers-menu-wrapper {
  display: flex;
  align-items: center;
}

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 12px 20px;
  font-size: 16px;
  color: var(--text-light-black-color);
}

.tab button:hover {
  background-color: #ddd;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.tab button.active {
  color: white;
  font-size: 16px;
  background-color: var(--secondary-color);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.tabcontent {
  display: none;
  padding: 16px;
  border: 1px solid #dedbd1;
  background-color: white;
}

.tabcontent h3 {
  font-size: 18px;
  margin-bottom: 16px;
}

#tab1 {
  display: block;
}

/* Lecturers Details End */

/* Admissions Start */
.sidebar-header-container {
  padding: 18px 22px;
  margin-bottom: 28px;
  background-color: var(--bg-gray);
  border-bottom: 3px solid var(--secondary-color);
}

.sidebar-header-title {
  font-size: 16px;
  color: #383838;
  line-height: 1.7;
}

.sidebar-recent-post-content {
  margin-bottom: 16px;
}

.sidebar-content-item a {
  display: block;
  padding: 14px 0;
  font-size: 16px;
  color: #191919;
  line-height: 1.7;
  border-bottom: 1px solid var(--secondary-color);
}

.sidebar-content-item a:hover {
  color: var(--secondary-color);
  transform: 0.3s;
}

.sidebar-content-item a i {
  margin-right: 8px;
}

/* Admissions End */

/* partner */
.partner-img {
  width: 200px;
  height: auto;
}

.partner-detail {
  margin: 30px 0 10px;
}

/* partner */
/* block-news */
.news-detail {
  margin: 30px 0 10px;
}

/* block-news */

/* card-news */
.card-news .card-title a {
  color: #0a0a0a;
}

.card-news .card-title a:hover,
.card-news .card-title a:focus {
  color: var(--secondary-color);
}

.card-news .card-text {
  text-align: justify;
}

/* card-news */
.list-news {
  position: relative;
  display: flex;
  margin: 0;
}

.list-news .list-news-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-news .list-news-item:last-child,
.list-news .list-news-item:nth-last-child(2) {
  margin-bottom: 0;
}

/* card-news-style-1 */
.card-news-style-1 {
  position: relative;
  background-clip: border-box;
  border: none;
}

/* card-news-style-1 */
/* card-news-style-2 */
.card-news-style-2 {
  position: relative;
  background-clip: border-box;
  border: none;
}

.card-news-style-2 a {
  display: block;
}

/* .card-news-style-2 img {} */
.card-news-style-2 .card-body {
  padding: 0 10px 10px;
}

.card-news-style-2 .card-title {
  font-size: 18px;
  font-weight: 700;
}

.card-news-style-2 .card-title a {
  color: var(--primary-color);
  text-align: left;
}

/* card-news-style-2 */

/* notification */
.list-notification {
  margin: 0;
  padding: 0;
}

.notification-card {
  border: none;
}

.notification-card .card-body {
  padding: 0;
}

.notification-card .card-detail {
  height: 100%;
  display: flex;
  align-items: center;
}

.notification-card .card-img {
  height: 100px;
}

.notification-card .card-time {
  display: flex;
  height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 10px;
}

.notification-card .card-time ul {
  padding: 0 5px;
  margin: 0;
}

.notification-card .card-time .date {
  font-size: 30px;
  color: var(--secondary-color);
  text-align: center;
}

.notification-card .card-time .month {
  font-size: 26px;
  color: var(--primary-color);
  padding-bottom: 5px;
  border-bottom: 4px solid var(--secondary-color);
}

.notification-card .card-link {
  color: var(--secondary-color);
}

/* notification */
.list-notification-item:not(:nth-last-child(2)):not(:last-child) {
  margin-bottom: 20px;
}

.notification-card .card-title {
  font-size: 18px;
}
