/* Training */
.breadcrumbs {
    display: flex;
    margin-top: 32px;
}
.breadcrumbs li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.breadcrumbs li a {
    margin-right: 8px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
}
.breadcrumbs li i {
    margin-right: 10px;
    color: var(--primary-color);
    font-size: medium;
}
.main-left {
    margin-top: 32px;
    margin-bottom: 55px;
    padding-right: 24px;
}
/* .main-left-container {
	border-radius: 8px;
	box-shadow: 0px 3px 5px var(--text-dark-color);
}
.main-left-heading {
	margin: 0 16px;
	padding: 8px 0;
	border-radius: 16px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	color: var(--text-light-color);
	background-color: var(--primary-color);
}
.main-left ul {
	margin-bottom: 8px;
}
.main-left ul li {
	display: block;
    padding: 12px 16px;
}
.main-left ul li a {
    color: var(--text-dark-color);
	font-size: 16px;
}
.main-left ul li a.active {
	border-bottom: 1px solid #000000;
} */
.main-left ul {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.main-left ul li a {
    display: block;
    padding: 12px 16px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.main-left ul li a:hover {
    color: var(--text-light-color);
    background-color: var(--secondary-color);
}
[class*="icon-"] {
    margin-right: 5px;
}
.icon-alt {
    transform: rotate(90deg);
}
a:hover,
a:focus,
.btn:hover,
.btn:focus {
    color: var(--secondary-color);
    box-shadow: none;
}
/** ------------------------------------ **/

/* Header */
.header {
    min-height: 1px;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
}
.user-header-top {
    background-color: var(--primary-color);
}
.user-header-top .header-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-header-top a {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    padding: 6px 12px;
}
.user-header-top a::after {
    display: none;
}
.user-header-top a:hover,
.user-header-top a:focus {
    color: var(--secondary-color);
}
.user-header-top .left,
.user-header-top .right {
    display: flex;
    align-items: center;
}
/* .div-email,
.div-phone {
	margin: 0 5px;
} */
.language .dropdown .dropdown-menu {
    height: 0;
    transition: height 0.5s ease;
    padding: 0;
    min-width: 150px;
    left: -20%;
}
.language .dropdown:hover .dropdown-menu {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    /* background-color: #e0e0e0; */
}
.language .dropdown .dropdown-menu a:hover {
    background-color: transparent;
    scale: 1.1;
}
.header-logo {
    height: 50px;
    width: 500px;
    display: flex;
    align-items: center;
}
.header-logo img {
    height: 100%;
    max-width: 80px;
}
.header-logo .header-title {
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.header-logo .header-title h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.header-logo .header-title span {
    font-size: 14px;
    font-weight: 500;
}
/* Header */
/* Footer */
/* Footer */
/* Banner */
.banner {
    position: relative;
    width: 100%;
    height: calc(100vh - 140px);
    min-height: 600px;
}
.banner-container {
    height: 100%;
}
.banner-container-inner {
    height: 100%;
}
.banner-img {
    width: 100%;
    height: calc(100vh - 140px);
}
.banner-img img {
    height: calc(100vh - 140px);
    width: auto;
    object-fit: cover;
}
/* Banner */
